MDK-Proj/Listings
MDK-Proj/Objects
MDK-Proj/RTE
*.bak 
*.ddk 
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o 
*.d 
*.axf 
*.tra 
*.dep           
JLinkLog.txt 
*.iex 
*.htm 
*.sct 
*.map 
*.log
*.52928
.vscode
